*.[ao]
*.gcda
*.gcno
*.gcov
*.l[ao]
*.log
*.trs
.deps/
.dirstamp
.libs/
/Doxyfile
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.log
/config.status
/configure
/coverage.info
/libi2cd-*/
/libi2cd-*.tar.*
/libi2cd-*.zip
/libi2cd.pc
/libtool
/stamp-*
